<main>
    <div class="offer-details">
        <h1>{{shoe.name}}</h1>
        <div class="info">
            <img src="{{shoe.imageUrl}}" alt="{{shoe.name}}">
            <div class="description">{{shoe.description}}
                <br>
                <br>
                <p> <strong>Buyers:</strong> {{buyersCount}}</p>
                <br>
                <p class="price">${{shoe.price}}</p>
            </div>
        </div>
        <div class="actions">
            <a href="/shoes/{{shoe._id}}/edit">Edit</a>
            <a href="/shoes/{{shoe._id}}/delete">Delete</a>
            <a href="/shoes/{{shoe._id}}/buy">Buy</a>
            <span>You bought it</span>
        </div>
    </div>
</main>