<main>
    <div class="user-info">
        <div>
            <p>Email: <span>{{email}}</span></p> |
            <p>My offers: <span>[{{userOffersLength}}]</span></p> |
            <p><a href="/user/logout">Logout</a></p>
        </div>
        <div class="shoes">
            {{#each userShoes}}
            <div class="shoe">
                <img
                    src="{{this.imageUrl}}">
                <h3>{{this.name}}<span>${{this.price}}</span></h3>
            </div>
            {{else}}
            <h1>No shoes to display. Go buy a pair :)</h1>
            {{/each}}
        </div>
        <p class="total-profit">Total profit: <span>${{totalPrice}}</span></p>
    </div>
</main>